* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
}

main {
    padding-top: 60px;
    margin: 0 auto;
    max-width: 960px;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/* ヘッダー */
.header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
}

.header-inner {
    position: relative;
    max-width: 960px;
    height: 100%;
    z-index: 2;
    margin: 0 auto;
}


.logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin: 0;
}

.logo img {
    width: 120px;
    height: auto;
    display: block;
}

#menu { 
    display: none;
}

.header-nav {
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
}

.header-nav-list {
    display: flex;
    font-weight: lighter;
    font-size: 0.8em;
}

.header-nav-list li {
    padding-left: 15px;
}

.search-container {
    position: absolute;
    left: 390px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgb(185, 183, 183);
    padding: 3px 5px;
    border-radius: 3px;
    height: 2.3em;
    width: 210px;
}

.search-container input[type="submit"] {
    background-image: url(../img/icon_search.svg);
    background-color: white;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
}

.search-container input[type="text"] {
    border: none;
    height: 2.0em;
    width: 160px;
    margin-left: 35px;
    font-size: 14px;
}

.search-container input[type="text"]:focus {
    outline: 0;
}

.cart img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* バナー画像 */

.banner {
    margin-bottom: 60px;
}

.banner img {
    background-size: cover;
    width: 100%;
}

.inner {
    width: 960px;
    margin: 0 auto;
}

/* カテゴリー */
.category-wrapper {
    margin-bottom: 80px;
}

.category-title {
    font-size: 30px;
}

.category-title-cat {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bolder;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(228, 227, 227, 0.897);
}

.category-title-cat a {
    position: relative;
    font-size: 16px;
    font-weight: border;
    padding-right: 15px;
    color: rgb(61, 172, 192);
}

.category-title-cat a::after {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    right: 5px;
    top: 50%;
    border-top: solid 2px;
    border-right: solid 2px;
    transform: rotate(45deg) translateY(-50%);
}

.category-items {
    display: flex;
    flex-wrap: wrap;
}

.item-list {
    width: calc(100% / 5);
}

.item-list img {
    width: 100%;
    height: 200px;
    background-size: cover;
}

.item-list img:hover {
    opacity: 0.7;
    transition: all 0.7s;
}

.item-list h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.item-list h4 {
    margin: 0;
    font-size: 13px;
    font-weight: lighter;
}

.item-list p {
    margin: 0;
    font-size: 16px;
    margin-bottom: 15px;
}

/* ピックアップカテゴリー */
.pick-up .category-title-cat {
    margin-bottom: 0;
}

.pick-up ul {
    justify-content: space-between;
}

.pick-up li {
    width: calc(100% / 2 - 10px);
}

.pick-up a {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(228, 227, 227, 0.897);
}

.pick-up img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

/* ブランドカテゴリー */
.brand {
    background:linear-gradient(-135deg, #2CD8D5 0%, #9891ff 56%, #FFBAC3 100%);
    background-position: center;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 500px;
    margin-bottom: 70px;
}

.brand-inner {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}


.brand-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand-card {
    width: calc(100%/4 - 8px);
    height: 100px;
    border: 1px solid rgba(228, 227, 227, 0.897);
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    position: relative;
}

.brand-name {
    font-size: 19px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

/* フッター */
.footer {
    width: 100%;
    height: 270px;
    background-color: rgb(68, 65, 65);
    z-index: 1;
    position: relative;
}

.cam-name {
    color: #fff;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
}

.sns {
    text-align: center;
}

.sns-icon {
    margin-left: 25px;
    display: inline-block;
}

.sns-icon img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.sns-icon a {
    color: #fff;
    display: flex;
    align-items: center;
}

.nav-list {
    width: 100%;
    height: 45px;
    background-color: #000;
    z-index: 10;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px;
}

.nav-item {
    display: inline-block;
    margin-left: 20px;
}

.nav-item a {
    color: #fff;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    main {
        width: 100%;
        margin: 0;
        padding-top: 45px;
    }

    .header {
        height: 45px;
    }

    .header-nav-list {
        display: none;
        margin: 0;
    }

    .logo {
        left: 9px;
    }

    .logo img {
        width: 70px;
    }

    label {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }
    
    span {
        display: inline-block;
        width: 30px;
        height: 10px;
    }
    
    span i {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        display: block;
        transition: all .3s ease-in-out;
    }
    
    span i:nth-child(1) {
        top: 0;
    }
    
    span i:nth-child(2) {
        margin: auto;
        top: 0;
        bottom: 0;
    }
    
    span i:nth-child(3) {
        bottom: 0;
    }
    
    input:checked + label span i:nth-child(1) {
        margin: auto;
        transform: rotate(225deg);
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
    }
    
    input:checked + label span i:nth-child(2) {
        transform: rotateX(90deg);
        bottom: 0;
        top: 0;
    }
    
    input:checked + label span i:nth-child(3) {
        margin: auto;
        transform: rotate(-225deg);
        bottom: 0;
        top: 0;
        right: 0;
    }
/* ハンバーガーメニューのnav */

   /* input:checked + label + .header-nav { 
        position: fixed;
        z-index: 99;
        opacity: 1;
    }

    .header-nav {
        opacity: 0; 
        background-color: rgba(255, 255, 255, 0.7);
        top: 45px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        -webkit-transition: opacity .3s ease-in-out,z-index .3s ease-in-out;
        transition: opacity .3s ease-in-out,z-index .3s ease-in-out;
    }

  
    .nav-wrap {
        width: 100%;
        background-color: rgba(252, 252, 252, 0.918);
        position: absolute;
        right: -100%; 
        top: 45px;
        bottom: 0;
        -webkit-transition: right .3s ease-in-out;
        transition: right .3s ease-in-out;
        overflow-y: scroll;
    }

    input:checked + label + .header-nav > .nav-wrap {
        right: 0;
        top: 0;
    }
      
    .header-nav a {
        padding: 0 50px;
        color: rgb(0, 0, 0);
        font-size: 24px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-weight: 700;
        line-height: 1;
        transition: background-color .3s ease-in-out;
    }*/
    
    .search-container {
        left: 110px;
        height: 30px;
        width: 160px;
        padding: 0;
    }

    .search-container input[type="submit"] {
        width: 18px;
        height: 18px;
    }
    
    .search-container input[type="text"] {
        width: 115px;
        font-size: 11px;
    }
    
    .cart img {
        display: none;
    }

    .inner {
        padding: 0 10px;
        width: 100%;
    }

    .item-list {
        width: calc(100% / 2);
    }
    
    .item-list img {
        height: auto;
    }

    .category-title {
        font-size: 20px;
    }

    .pick-up li {
        width: 100%;
    }
    
    .brand {
        padding: 0;
        margin: 0 0 70px;
        height: 375px;
    }

    .brand-inner {
        width: 100%;
        padding: 20px;
    }

    .brand-card {
        width: calc(100% / 3 - 6px);
        height: 60px;
    }

    .brand-name {
        font-size: 15px;
    }

    .footer {
        height: 200px;
    }

    .cam-name {
        padding-top: 30px;
    }

    .sns-icon {
        margin-left: 15px;
    }

    .sns-icon a {
        font-size: 10px;
    }
    
    .sns-icon img {
        width: 25px;
        height: auto;
        margin-right: 10px;
    }

    .nav-item {
        margin-left: 10px;
    }
        
    .nav-item a {
        font-size: 10px;
    }
}